*.h5
*.X
*.x
log
*.xtc
*.rfile
INC0105376
INC0107107-hdfissue/lafmc
berkeleyGw_slowio
berkeleyGw_slowio/hdf5_perf
hdf5-INC0105750/hdf5_bug
lustre_slow_aug8_10
io-knl_INC0108778
io-bigmem/_0004
h5spark*
netcdf-INC0108663
darshan_cs_2018/io_slow/case_jan17_2018/STMdot7/bin/athena_fixed
darshan_cs_2018/io_slow/case_jan17_2018/STMdot7/bin/athena_original
darshan_cs_2018/io_slow/case_jan17_2018/STMdot7/bin/slurm-10211577.out
darshan_cs_2018/io_slow/case_jan17_2018/STMdot7/bin/slurm-10212151.out
darshan_cs_2018/io_slow/case_jan17_2018/STMdot7/bin/slurm-10212403.out
darshan_cs_2018/io_slow/case_jan17_2018/STMdot7/obj/
darshan_cs_2018/io_slow/case_jan17_2018/STMdot7/src/outputs/.athena_hdf5_fixed.cpp
darshan_cs_2018/io_slow/case_jan17_2018/STMdot7/src/outputs/.athena_hdf5_original.cpp
